// app global css in Sass form

body.q-ios-padding .q-layout--standard .q-header > .q-toolbar
  padding-top: env(safe-area-inset-top)
  min-height: calc(env(safe-area-inset-top) + 50px)

.monospace
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

.serif
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
