// app global css in Sass form

.monospace
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

.serif
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif

body.q-ios-padding .q-dialog__inner.q-dialog__inner--maximized
  padding: 0!important
  > div
    max-height: 100% !important
    padding-top: env(safe-area-inset-top) !important

body.q-ios-padding .q-dialog__inner.q-dialog__inner--bottom
  padding-bottom: 0 !important
  > div
    padding-bottom: env(safe-area-inset-bottom) !important

.q-btn
  text-transform: none

body
  overflow: hidden
  position: fixed!important
  height: 100%
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important

.w40
  width: 40%

.narrow-page
  width: 100%
  max-width: map-get($sizes, "sm")

// the workaround for the q-popup-proxy bug: can't set menu's max-width
.q-menu
  max-width: 80% !important
  box-shadow: 0 5px 12px 0px rgba(0,0,0,0.25)
